@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400");
:root {
  --clr-light: #8c0a2e;
  --clr-very-light: #ff004c;
  --clr-dark: #691329;
  --clr-title: #930b2f;
  --clr-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

body {
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  background: var(--clr-white);
}

.container {
  width: min(90%, 1000px);
  margin: 0 auto;
}

.a11y-slider-container {
  max-width: 600px;
}

.slider {
  display: flex;
  gap: 1rem;
}

.slider > * {
  width: 100%;
  flex: 0 0 auto;
}

.a11y-slider-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.a11y-slider-dots li {
  display: block;
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
}

.a11y-slider-dots li button {
  display: block;
  text-indent: -9999px;
  border: 1px solid var(--clr-title) !important;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.a11y-slider-dots li button.active {
  background-color: var(--clr-title);
}

@media (min-width: 50em) {
  .slider > * {
    width: 100%;
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.2;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.2;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.cta {
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.25s ease;
}

.logo {
  width: 8rem;
}

.section__title {
  color: var(--clr-title);
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

#main-header .nav-area {
  padding: 1rem 0;
}
#main-header .nav-area .container {
  justify-content: space-between;
}
#main-header .menu-btn,
#main-header .close-btn {
  font-size: 1.2rem;
  color: var(--clr-dark);
  transition: transform 0.2s ease;
}
#main-header .nav {
  position: fixed;
  background: var(--clr-white);
  top: 0;
  left: 0;
  width: 50%;
  max-width: 300px;
  height: 100%;
  z-index: 2;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
}
#main-header .close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 2rem;
}
#main-header .nav.display {
  transform: translateX(0);
}
#main-header .nav__list {
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 5rem;
  padding: 1rem;
}
#main-header .nav__list a {
  color: var(--clr-dark);
  font-weight: 400;
  font-size: 1rem;
  display: inline-block;
}
#main-header .nav__list a.cta {
  background: var(--clr-light);
  color: var(--clr-white);
}
@media (hover: hover) {
  #main-header .nav__list a.cta:hover {
    background: var(--clr-dark);
  }
}
@media (hover: hover) {
  #main-header .menu-btn:hover,
#main-header .close-btn:hover {
    transform: scale(1.1);
  }
  #main-header a:not(a.cta):hover {
    color: var(--clr-light);
  }
}
@media (min-width: 750px) {
  #main-header .nav {
    position: static;
    background: transparent;
    width: auto;
    max-width: none;
    height: auto;
    z-index: auto;
    transition: none;
    transform: translateX(0);
  }
  #main-header .nav__list {
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 2rem;
  }
  #main-header .close-btn,
#main-header .menu-btn {
    display: none;
  }
}

.banner {
  padding: 4rem 2rem;
  display: grid;
  place-content: center;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: var(--clr-white);
}
.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}
.banner .content {
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  position: relative;
}
@media (min-width: 768px) {
  .banner .content {
    flex-direction: row;
    gap: 5rem;
    text-align: left;
  }
}
.banner a.bg-white {
  background-color: var(--clr-white);
  color: var(--clr-light);
  border: 1px solid transparent;
}
.banner a.bg-white:hover {
  background: transparent;
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
}
.banner a.bg-transparent {
  border: 1px solid var(--clr-white);
  color: var(--clr-white);
}
.banner a.bg-transparent:hover {
  background: var(--clr-white);
  color: var(--clr-light);
}
.banner .cup-img {
  height: 10rem;
}
.banner .title {
  letter-spacing: 5px;
}
.banner .sub-title {
  margin: 0.2rem 0 0.5rem 0;
}
.banner .intro {
  max-width: 400px;
  line-height: 1.5;
  font-size: 1rem;
}
.banner .action-links {
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .banner .action-links {
    justify-content: left;
  }
  .banner .cup-img {
    height: 22rem;
  }
  .banner .title {
    font-size: 3.5rem;
  }
}

#groups-section {
  padding: 3rem 0;
}
#groups-section .group {
  border: 2px solid rgba(83, 8, 29, 0.7);
  padding: 1.5rem 2rem;
  border-radius: 5px;
  flex-direction: column;
}
#groups-section .group__title {
  color: var(--clr-light);
  border-bottom: 2px solid var(--clr-light);
  width: max-content;
  font-size: 1.3rem;
}
#groups-section .group__list > * {
  margin: 0.8rem 0 0 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#groups-section .group__list span {
  font-size: 1.3rem;
}
#groups-section .flag-img {
  width: 2rem;
}

.countdown {
  color: var(--clr-white);
  background-color: var(--clr-dark);
  padding: 3rem 0;
}
.countdown .container {
  gap: 1rem;
  flex-direction: column;
}
.countdown .container .design {
  width: 6rem;
  display: none;
}
@media (min-width: 768px) {
  .countdown .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .countdown .container .title {
    max-width: 200px;
  }
  .countdown .container .design {
    display: inline;
  }
}
.countdown .content {
  gap: 1rem;
}
.countdown .content div {
  text-transform: uppercase;
  text-align: center;
}
.countdown .content span {
  color: var(--clr-very-light);
}

#stadiums-section {
  padding: 3rem 0;
}
#stadiums-section .stadium {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  height: 18rem;
}
#stadiums-section .stadium::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#stadiums-section .stadium__info {
  color: hsl(0deg, 0%, 100%);
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
#stadiums-section .stadium__info h3,
#stadiums-section .stadium__info h4 {
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}
#stadiums-section .stadium__info h4 {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
#stadiums-section .stadium__info .capacity {
  font-size: 0.8rem;
}
#stadiums-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#discover {
  padding: 3rem 0;
}
#discover .places {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  #discover .places {
    grid-template-columns: repeat(3, 1fr);
  }
}
#discover .place {
  height: 15.625rem;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
#discover .place::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: transform 0.25s ease;
}
#discover .place .place__info {
  color: hsl(0deg, 0%, 100%);
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  padding: 0;
}
@media (hover: hover) {
  #discover .place .place__info {
    opacity: 0;
  }
  #discover .place::before {
    transform: translateY(100%);
  }
  #discover .place:hover::before {
    transform: translateY(0);
  }
  #discover .place:hover .place__info {
    opacity: 1;
  }
}
#discover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  padding: 2rem 0;
}
.footer .container {
  flex-direction: column;
}
@media (min-width: 750px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer .socials {
  gap: 1rem;
}
.footer .socials > * {
  color: #640621;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.25s ease;
}
@media (hover: hover) {
  .footer .socials > *:hover {
    transform: scale(1.1);
  }
}/*# sourceMappingURL=style.css.map */