*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

body {
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  background: white;
}

.container {
  width: min(90%, 1000px);
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.2;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.2;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.cta {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s ease;
  font-size: 0.9rem;
}

@media (hover: hover) {
  .cta:hover {
    transform: scale(0.98);
  }
}
.logo {
  width: 8rem;
}

.section__header {
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.section__title {
  color: #930b2f;
}

.controls {
  gap: 4rem;
}

.next-btn,
.prev-btn {
  font-weight: bold;
  font-size: 1.5rem;
  color: #130f26;
}

@media (hover: hover) {
  .next-btn:hover,
.prev-btn:hover {
    transform: scale(1.1);
  }
}
#main-header {
  height: 100vh;
}
#main-header .nav-area {
  height: 15%;
}
#main-header .nav-area .container {
  justify-content: space-between;
  height: 100%;
}
#main-header .menu-btn,
#main-header .close-btn {
  font-size: 1.3rem;
  color: #3c0214;
  transition: transform 0.2s ease;
}
@media (hover: hover) {
  #main-header .menu-btn:hover,
#main-header .close-btn:hover {
    transform: scale(1.1);
  }
  #main-header a:not(a.cta):hover {
    font-weight: bold;
  }
}
#main-header .nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  background: white;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  height: 100%;
  z-index: 2;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
}
#main-header .close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
#main-header .nav.display {
  transform: translateX(0);
}
#main-header .nav__list {
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
  padding: 1rem;
}
#main-header .nav__list a {
  color: #3c0214;
  font-size: 1rem;
}
#main-header .nav__list a.cta {
  background: #8c0a2e;
  color: white;
  display: inline-block;
}
@media (min-width: 750px) {
  #main-header .nav {
    position: static;
    background: transparent;
    width: auto;
    max-width: none;
    height: auto;
    z-index: auto;
    transition: none;
    transform: translateX(0);
  }
  #main-header .nav__list {
    flex-direction: row;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  #main-header .close-btn,
#main-header .menu-btn {
    display: none;
  }
}

.hero {
  height: 85%;
  display: grid;
  place-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}
.hero .container {
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .hero .container {
    flex-direction: row;
    gap: 5rem;
    text-align: left;
    justify-content: space-around;
  }
}
.hero a.bg-white {
  background-color: white;
  border: 1px solid white;
  color: #8c0a2e;
}
.hero a.bg-transparent {
  border: 1px solid white;
  color: white;
}
.hero .cup-img {
  height: 12rem;
}
.hero .sub-title {
  margin: 0.5rem 0;
}
.hero .intro {
  max-width: 600px;
  line-height: 1.3;
}
.hero .ctas {
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .hero .ctas {
    justify-content: left;
  }
  .hero .cup-img {
    height: 25rem;
  }
  .hero .title {
    font-size: 4rem;
  }
}

#groups-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}
#groups-section .groups {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}
#groups-section .groups::-webkit-scrollbar {
  display: none;
}
#groups-section .groups > * {
  flex-basis: 100%;
}
#groups-section .group {
  border: 2px solid rgba(83, 8, 29, 0.7);
  padding: 1rem 0;
  border-radius: 8px;
  min-width: 270px;
  flex-direction: column;
}
#groups-section .group__title {
  color: #930b2f;
  border-bottom: 2px solid #930b2f;
}
#groups-section .group__list > * {
  margin: 0.8rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#groups-section .flag-img {
  width: 1.5rem;
}

.countdown {
  color: white;
  background-color: #691329;
  padding: 3rem 0;
}
.countdown .container {
  gap: 1rem;
  flex-direction: column;
}
.countdown .container .design {
  width: 6rem;
  display: none;
}
@media (min-width: 750px) {
  .countdown .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .countdown .container .title {
    max-width: 200px;
  }
  .countdown .container .design {
    display: inline;
  }
}
.countdown .content {
  gap: 1rem;
}
.countdown .content div {
  text-transform: uppercase;
  text-align: center;
}
.countdown .content span {
  color: #ff004c;
}

#stadiums-section {
  padding: 3rem 0;
}
#stadiums-section .stadiums {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}
#stadiums-section .stadiums::-webkit-scrollbar {
  display: none;
}
#stadiums-section .stadiums > * {
  flex-basis: 100%;
}
#stadiums-section .stadium {
  min-width: 300px;
  max-width: 300px;
  height: 13.75rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
#stadiums-section .stadium::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
#stadiums-section .stadium__info {
  color: hsl(0deg, 0%, 100%);
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
#stadiums-section .stadium__info .capacity {
  font-size: 0.8rem;
}
#stadiums-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#discover {
  padding: 3rem 0;
}
#discover .section__title {
  margin-bottom: 1.5rem;
}
#discover .places {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
#discover .place {
  height: 15.625rem;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
#discover .place::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: transform 0.25s ease;
}
#discover .place .place__info {
  color: hsl(0deg, 0%, 100%);
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  padding: 0;
}
@media (hover: hover) {
  #discover .place .place__info {
    opacity: 0;
  }
  #discover .place::before {
    transform: translateY(100%);
  }
  #discover .place:hover::before {
    transform: translateY(0);
  }
  #discover .place:hover .place__info {
    opacity: 1;
  }
}
#discover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  padding: 2rem 0;
}
.footer .container {
  flex-direction: column;
}
@media (min-width: 750px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer .socials {
  gap: 1rem;
}
.footer .socials > * {
  color: #640621;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.25s ease;
}
@media (hover: hover) {
  .footer .socials > *:hover {
    transform: scale(1.1);
  }
}/*# sourceMappingURL=style.css.map */