.countdown {
  color: var(--clr-white);
  background-color: var(--clr-dark);
  padding: 3rem 0;

  .container {
    gap: 1rem;
    flex-direction: column;

    .design {
      width: 6rem;
      display: none;
    }

    @media (min-width: 768px) {
      & {
        flex-direction: row;
        justify-content: space-between;
      }
      .title {
        max-width: 200px;
      }
      .design {
        display: inline;
      }
    }
  }

  .content {
    gap: 1rem;
    div {
      text-transform: uppercase;
      text-align: center;
    }
    span {
      color: var(--clr-very-light);
    }
  }
}
