#groups-section {
  padding: 3rem 0;

  .group {
    border: 2px solid rgba(83, 8, 29, 0.7);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    flex-direction: column;
  }

  .group__title {
    color: var(--clr-light);
    border-bottom: 2px solid var(--clr-light);
    width: max-content;
    font-size: 1.3rem;
  }

  .group__list > * {
    margin: 0.8rem 0 0 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .group__list span {
    font-size: 1.3rem;
  }

  .flag-img {
    width: 2rem;
  }
}
