#main-header {
  .nav-area {
    padding: 1rem 0;

    .container {
      justify-content: space-between;
    }
  }

  .menu-btn,
  .close-btn {
    font-size: 1.2rem;
    color: var(--clr-dark);
    transition: transform 0.2s ease;
  }

  .nav {
    position: fixed;
    background: var(--clr-white);
    top: 0;
    left: 0;
    width: 50%;
    max-width: 300px;
    height: 100%;
    z-index: 2;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
  }

  .close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 2rem;
  }

  .nav.display {
    transform: translateX(0);
  }

  .nav__list {
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 5rem;
    padding: 1rem;

    a {
      color: var(--clr-dark);
      font-weight: 400;
      font-size: 1rem;
      display: inline-block;
    }

    a.cta {
      background: var(--clr-light);
      color: var(--clr-white);

      @media (hover: hover) {
        &:hover {
          background: var(--clr-dark);
        }
      }
    }
  }

  @media (hover: hover) {
    .menu-btn:hover,
    .close-btn:hover {
      transform: scale(1.1);
    }

    a:not(a.cta):hover {
      // font-weight: bold;
      color: var(--clr-light);
    }
  }

  @media (min-width: 750px) {
    .nav {
      position: static;
      background: transparent;
      width: auto;
      max-width: none;
      height: auto;
      z-index: auto;
      transition: none;
      transform: translateX(0);
    }

    .nav__list {
      flex-direction: row;
      margin: 0;
      padding: 0;
      gap: 2rem;
    }

    .close-btn,
    .menu-btn {
      display: none;
    }
  }
}

.banner {
  padding: 4rem 2rem;
  display: grid;
  place-content: center;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  //   url(../images/banner.jpg);
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: var(--clr-white);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
  }

  .content {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    position: relative;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 5rem;
      text-align: left;
      // justify-content: space-around;
    }
  }

  a.bg-white {
    background-color: var(--clr-white);
    color: var(--clr-light);
    border: 1px solid transparent;

    &:hover {
      background: transparent;
      color: var(--clr-white);
      border: 1px solid var(--clr-white);
    }
  }

  a.bg-transparent {
    border: 1px solid var(--clr-white);
    color: var(--clr-white);

    &:hover {
      background: var(--clr-white);
      color: var(--clr-light);
    }
  }

  .cup-img {
    height: 10rem;
  }

  .title {
    letter-spacing: 5px;
  }

  .sub-title {
    margin: 0.2rem 0 0.5rem 0;
  }

  .intro {
    max-width: 400px;
    line-height: 1.5;
    font-size: 1rem;
  }

  .action-links {
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  @media (min-width: 768px) {
    .action-links {
      justify-content: left;
    }
    .cup-img {
      height: 22rem;
    }

    .title {
      font-size: 3.5rem;
    }
  }
}
